* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
.prettierignore text
LICENSE         text
*.md            text
*.txt           text
*.yml           text

*.js            text
*.json          text
*.css           text
